---
import BaseLayout from "../../layouts/BaseLayout.astro"
---
<BaseLayout>

<div class="one">
    <p>This is a div with block display</p>
</div>

<div class="one">
    <p>BLOCK</p>
</div>

<div class="one">
    <p>BLOCK</p>
</div>

<div class="one">
    <p>BLOCK</p>
</div>

<div class="one">
    <p>BLOCK</p>
</div>

<div class="one">
    <p>BLOCK</p>
</div>

<style>
div{
    border: 1px solid red;
    display:block;
}
</style>

</BaseLayout>