---

import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;

---

<BaseLayout>

<div style="max-width: 60ch; margin-inline: auto;">

    <h1> First</h1>
<p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
<p>Written by {frontmatter.author}</p>

  
<slot /></div>

</BaseLayout>